body, html {
    margin: 5px;
    padding: 5px;
    height: 100%;
  }
  
  .container {
    display: flex;
    justify-content: space-between; 
    height: 50vh; 
    border: 2px solid black;
  }
  
  .box {
    flex: 0 0 calc(20% - 20px); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4em; 
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  